doctype html
html(lang="en")
head
	title= 'Text Processing'
body
	h1 Text Processing Assignment

	h2 Sentence Segmentation:  
	each s in ss
		p #{s} 
	h2 Word Segmentation:  
	p #{sw}
	h2 Sentence without Stopwords :  
	p #{rsp}
	h2 Sentence without repeated Strings :  
	p #{u}
	h2 Sentence with each word of the string reversed: 
	p #{rev}
	h2 All numbers extracted from the string: 
	p #{nm}	